---
---

@import "{{ site.theme }}";

.PageNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    margin-right: auto; /* Pushes previous link to the left */
}

.next {
    margin-left: auto; /* Pushes next link to the right */
}

.home {
    margin: 0 20px; /* Adds space around the home link */
}