---
---

@import "{{ site.theme }}";

.PageNavigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.prev {
    margin-right: auto;
}

.next {
    margin-left: auto;
}