---
layout: default
---

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="DJSherwood/DJSherwood.github.io"
        data-repo-id="R_kgDOM4qY7Q"
        data-category="General"
        data-category-id="DIC_kwDOM4qY7c4CkIt1"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
